	/*
	Colors:
	

	main_purple : #453c8b;

	circlemojo_purple: #453c8b ;
	trianglemojo_pink: #f75f8e ;
	dottedcirclemojo_ash: #c7c7c7 ;

	amocontenttext_ash: #acacac ;
	amocontenttitle_black: #000000 ;
	link_pink: #f75f8e;
	*/


html, body, div, p, h4{
	padding: 0px;
	border: 0px;
	margin: 0px;
}

body{

	font-family: sans-serif;
	background-color: #eeeeee;
}
.top-intro{
	background:url('images/top-bg.jpg');
    position: relative;
    width:100%;
    height:500px;
    -webkit-box-shadow: 0px 0px 26px -2px rgba(0,0,0,0.69);
    -moz-box-shadow: 0px 0px 26px -2px rgba(0,0,0,0.69);
 	box-shadow: 0px 0px 26px -2px rgba(0,0,0,0.69);
}

.top-intro-layer{
	background-color: rgba( 69, 60,139, 0.7); /* main_purple  */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}
.top-intro-parent{

}
.top-intro-kid{

}


.top-skills{
	height:300px;
	width:80%;
	background:rgba( 69, 60,139, 0.8);
	margin-top:-100px;
	margin-left:10%;
	margin-right:10%;
	padding:0px;
	border-bottom: 2px;
	position: relative;
	
}

.top-skills-textbar{

    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(-90deg);
	
}
.top-skills-text{
	color:#fff;
	padding:0px;
	font-size: 30px;
}
.top-skills-diag{
	height: 204px;
    transform: skew(0deg, -4deg);
    background: rgb(102, 95, 158);
    width: 80%;
    margin: 0 10%;
    margin-top: -102px;

}

/********************************************/
.first{
	margin-top: 115px;
}
.amo{
	width:100%;
    height:auto;
}
.amo-bundle{
	height: auto;
    width: 40%;
    position: relative;
    top: 24%;
    left: 50%;

}

.amo-minititlegroup{
	height: auto;
	width: 50%;
}
.amo-verbar{
	font-size:80px;
	display: inline-block;
}
.amo-headtext{
	vertical-align: -15px;
	display: inline-block;
	font-weight: bold;
}

.amo-title{
	font-size:50px;
	margin-left: -50px;
	font-weight: bold;
}

.amo-content{
	margin-left: -50px;
}

.amo-content-p{
		font-size: 17px;
	    color: #a09595;
	    display: table-cell;
}

.amo-work-content{
	width: 80%;
    height: 341px;
    margin-left: 10%;
    margin-right: 10%;
}


.amo-work-img{
 	height: 250px;
    box-shadow: 0 0 0 2px #eee;
    border-radius: 8px;
 } 
.amo-work-subheading{
	margin-top: 54px;    
}
.amo-work-para{
	font-size: 11px;
    color: #a09595;
    padding: 0px;
    border: 0px;
    margin: 0px;
    margin-top: 38px;
    margin-bottom: 38px;
}
.leftpara{
    margin-left: 80px;
    text-align: right;
}
.rightpara{
	margin-right: 80px;
	text-align: left;
}
.amo-work-link{
	text-decoration: underline;
    color: #f75f8e;
    font-size: 13px;
    font-weight: bold;
    text-shadow: 0 0px 2px rgba(0, 0, 0, 0.19);
}

.amo-work-left{
	margin-left: -30px;
}
.amo-work-leftlink{
	margin-left: 90px;
}

.amo-work-right{
	margin-right: -30px;
}
.amo-work-rightlink{
	margin-right: 90px;
}

.circle{
	height: 60px;
	overflow: hidden;
}
.circleleft{
	margin-left: -30px;
}

.circleright{
	margin-right: -30px;
	float: right;
}

/********************************************/
/*				SKILL AREA 					*/
/********************************************/

.purplecontainer{
	background-color: #453c8b;
	height: 500px;
}
.skills-center-img{
	height: 200px;
	width: 200px;
}
.mainskill{
	color: #fff;
    font-size: 23px;
    font-family: "Arial Black", Gadget, sans-serif;
}
.skilldescription{
	font-size: 11px;
    color: #fff;
    font-weight: normal;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.skillimg{
	/*margin:5px;*/
	height: 18px;
	width: 18px;
}
.left{
 	float: left;
}
.right{
	float: right;
}
.fixedheight{
	height: 80px;
}
.rowheight{
	height: 130px;
}

.verticallymiddle {
    display: inline-block;
    vertical-align: middle;
    float: none;
    height: 100%;
    margin-top: 76px;
}
.middleimage{
	margin-top: 96px;
	display: inline-block;
    vertical-align: middle;
}

.rightparent{
	text-align: right;
	padding-right: 5px;
}

.leftparent{
	text-align: left;
	padding-left: 5px;
}

/********************************************/

/********************************************/
.odd{
	
}

.even{
	background: #acacac;
    padding-top: 100px;
}


.diagonaldivP{
	height:80px;
	transform: skew(0deg, -4deg);
	background: #453c8b;
	margin-bottom:-20px;
	
/*	-webkit-box-shadow: -6px -24px 14px -26px rgba(0,0,0,0.69);
	-moz-box-shadow: -6px -24px 14px -26px rgba(0,0,0,0.69);
	box-shadow:-6px -24px 14px -26px rgba(0,0,0,0.69);*/

}

.diagonaldivN{
	height:80px;
	transform: skew(0deg, +4deg);
	background: #eee;
	margin-bottom:-30px;
	margin-top:150px;
}

.amo-white{
	background: #fff;
}

.viewmore{
	/* <a> */
    border: 2px solid #f36a22;
    font-family: 'courier_primebold';
    letter-spacing: 2px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
    display: block;
    width: 100%;
    margin: 30px 0 0;
    text-transform: lowercase;
    text-align: center;
    padding: 15px;
    font-size: 20px;
}

/********************************************/
.highz{
	z-index: 2;
}

.midz{
	z-index: 1;
}
.lowz{
	z-index: 0;
}

.spaceaboverow{
	margin-top: 50px;
}

.fullheight{
	height: 100%;
}

.fullwidth{
	width: 100%;
}

.nooverflow{
	overflow: hidden;
}
.centergrid{
	margin-left:auto;
   margin-right:auto;
   display:block;
}
.centerparent{
	text-align: center;
}



.number{
	background: url(images/num1.png) no-repeat center;
	background-size: 30px 30px;
	height: 40px;
	width: 40px;
}


/********************************************/