	/*
	Colors:

	main_purple : #453c8b;

	circlemojo_purple: #453c8b ;
	trianglemojo_pink: #f75f8e ;
	dottedcirclemojo_ash: #c7c7c7 ;

	amocontenttext_ash: #acacac ;
	amocontenttitle_black: #000000 ;
	link_pink: #f75f8e;
	*/
            @font-face {
                font-family: 'avenir'; /*a name to be used later*/
                src: url('../font/avenir-light.ttf'); /*URL to font*/
            }

html, body, div, p, h4,section{
	padding: 0px;
	border: 0px;
	margin: 0px;
}

body{

	font-family: 'avenir';
	background-color: #f7f7f7;
}

section{

}



/********************************************/
/* PAGE ONE
/********************************************/


/*newnew*/
.toptocenter{
	margin-top: 5%;
}

.tophra{
 	bottom: -50px;
}

.top-intro{
	background:url('../images/top-bg.png');
	background-position-y:-120px;
    position: relative;
    width:100%;
    -webkit-box-shadow: 0px 0px 26px -2px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 26px -2px rgba(0,0,0,0.5);
 	box-shadow: 0px 0px 26px -2px rgba(0,0,0,0.5);
 	padding-top: 100px;
 	height: 100%;

}

.top-intro-layer{
	background-color: rgba( 69, 60,139, 0.91); /* main_purple  */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-bottom: 50px;

}
.topintroname{
	font-size:70px;
    font-weight: bold;
}
.topintrowho{
	font-size:66px;
	font-weight: bold;
}
.topintrowhat{
	position: relative;
	top: 38px;
	font-size:26px;
    font-weight: bold;
	color: #f75f8e;
}

#topvara1{
	position: relative;
    top: -50px;
    right: -29px;
    float: right;
}

#topvara2{
	position: relative;
    float: left;
    top: 0px;
 	left: -50%;
    height: 50px;
}

/********************************************/
/* PAGE TWO
/********************************************/

.top-skills{
	height:60%; /*newnew*/

	background:rgba( 69, 60,139, 0.9);
	margin: 0 6%;
	margin-top:-30px; /*newnew*/
	padding:0px;
	border-bottom: 2px;
	position: relative;
	
}

.top-skills-textbar{
	margin-top: 44px;/*newnew*/
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(-90deg);	
}

.top-skills-text{
	color:#fff;
	padding:0px;
	font-size: 54px;
    font-weight: bold;
}
.top-skills-diag{
	height: 260px;
    transform: skew(0deg, -4deg);
    background: rgb(85, 77, 148);
    margin: 0 6%;
    margin-top: -102px;

}

#topvara3{
	position: relative;
    top: 100%;
    z-index: 99;
    left: 30%;
    height: 36px;
}

#topvara4{
	position: relative;
    z-index: 99;
    top: 110%;
    left: 56%;
    height: 30px;
}

#topvara5{
	position: relative;
    top: 18%;
    left: 64%;
    height: 33px;
}
/********************************************/
/* HELLO AREA | PAGE THREE
/********************************************/
.first{
	margin-top: 20px;	
}
.amo{
	width:100%;
    height:auto;
    background:#fff;
}
.amo-bundle{
	height: auto;
    width: 40%;
    position: relative;
    top: 24%;
    left: 50%;

}
.amo-content-p{
	margin-top: 50px;
    font-size: 19px;
    color: #636262;
    margin-left: -112px;
    max-width: 400px;
    position: relative;
    z-index: 10;
}
.ashbg{
	background: #f7f7f7;
}


#dottedoval{
	position: relative;
    top: 135px;
    left: 10%;
    height: 400px;
    z-index: 99;
    left: 0;
}

#tricirle93{
	position: absolute;
    top: -37%;
    left: 43%;
    height: 154px;
}

#blueround93{
	position: absolute;
    top: -9%;
    left: 46%;
    height: 53px;
}

/*****************************************/
/* WORK AREA | PAGE FOUR
/*****************************************/

.col-xtra-margin{
	margin-top: 5px;
}

.spaceaboverow2{
    margin-top: 20px;
    padding-bottom: 10px;
}
.spaceaboverow{
	margin-top: 74px;
    padding-bottom: 10px;
}

.amo-work-img{
 	height: 366px;
    width: 600px;
    box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
 } 
.amo-work-subheading{
	margin-top: 54px;
    font-size: 28px;
    font-weight: bold;
}
.amo-work-para{
	max-width: 402px;
    font-size: 18px;
    color: #a09595;
    padding: 0px;
    border: 0px;
    margin: 0px;
    margin-top: 38px;
    margin-bottom: 38px;
}


.leftpara{
    margin-left: 80px;
    text-align: right;
}
.rightpara{
	margin-right: 80px;
	text-align: left;
}
.amo-work-link{
	text-decoration: underline;
    color: #f75f8e;
    font-size: 15px;
    font-weight: bold;
    text-shadow: 0 0px 2px rgba(0, 0, 0, 0.19);
}

a.amo-work-link:hover{
    text-decoration: underline;
    color: #f75f8e;
}
.amo-work-left{
	margin-left: -30px;
}
.amo-work-leftlink{
	margin-left: 45px;
}

.amo-work-right{
	margin-right: -30px;
}

.amo-work-rightlink{
	margin-right: 45px;
}

.circle{
	height: 84px;
	overflow: hidden;
}
.circleleft{
	margin-left: -41px;
    margin-top: 73px;
}

.vara95{
	height: 50px;
	overflow: hidden;
}
.vara95left{
	margin-left: 20px;
}


.circleright{
	margin-right: -30px;
	float: right;
}

.dummy{
	height: 180px;
}

.whitebg{
	background-color: #fff;
}

.work-layer-1{
	position: relative;
    width: 100%;
    height: 110%;
    /* padding-top: 80px; */
    background-color: #fff;
}


.work-layer{
	position: relative;
    width:100%;
    height:100%;
    padding-top: 80px;	
    background-color: #fff;
}

/********************************************/
/*SKILL AREA  | PAGE 10	
/********************************************/

.purplecontainer{
	background-color: #453c8b;
	height: 100%;

}
.hideoverflow{
	overflow:hidden;
}
.skilltopskew{
	height: 100px;
    transform: skew(0deg, -1.2deg);
    background: #453c8b;
    margin-bottom: 0px;
    position: relative;
}



/*title part begin*/

.skillmaintitle{
	font-size:69px;
	font-weight: bold;
	color: #fff;
}

.skillverbar{
	font-size:84px;
	color: #fff;
	font-family: serif;
	margin-bottom:0px;
	padding-bottom: 0px;
	border-bottom:0px;
}
.skillbartitle{
	font-weight: normal;
    color: #fff;
    display: inline-block;
    vertical-align: bottom;
    margin-bottom: 8px;
    padding-left: 5px;
    font-size: 18px;
    font-weight: bold;
    font-family: 'avenir';
}

.otri{
	height: 160px;
    width: 160px;
    margin-top: -60px;
    position: relative;
    float: left;
}

#tri94{
	position: relative;
    height: 117px;
    top: -1px;
    right: -53%;
    z-index: 999;
}

#pinkround{
	height: 42px;
    position: relative;
    top: 69px;
    right: -21px;
    float: right;
}


.pinkround{
	height: 100px;
    top: 0;
    right: 0;
    margin-right: -50px;
    float: right;
}

/*title part end*/
.skills-center-img{
	height: 200px;
	width: 200px;
}
.mainskill{
	color: #fff;
    font-size: 23px;
    font-family: 'avenir';
}
.skilldescription{
	font-size: 13px;
    color: #fff;
    font-weight: normal;
    font-family: 'avenir';
}

.skillimg{
	/*margin:5px;*/
	width: 25px;
}

.skillimg4{
	width: 21px;
}


.left{
 	float: right;
}
.right{
	float: left;
}
.fixedheight{
	height: 80px;
}
.rowheight{
	height: 130px;
}

.verticallymiddle {
    display: inline-block;
    vertical-align: middle;
    float: none;
    height: 100%;
    margin-top: 76px;
}
.middleimage{
	display: inline-block;
    vertical-align: middle;
}

.rightparent{
	text-align: right;
	padding-right: 5px;
}

.leftparent{
	text-align: left;
	padding-left: 5px;
}

.extramarginpage10{
	margin-top: -80px;
}

.skillbottomskew{
	height: 120px;
    transform: skew(0deg, +4deg);
    background: #f7f7f7;
    /* margin-bottom: -53px; */
    margin-top: -37px;
    z-index: 0;
    position: relative;
}

#pinkround96{
	position: relative;
    float: right;
    top: 245px;
    right: -51px;
    height: 100px;
    z-index:1;
}
#vara96{
	height: 40px;
    position: relative;
    z-index: 99;
    right: -98px;
}

#dottedoval3{
	position: absolute;
    z-index: 99;
    height: 400px;
    bottom: -134px;
    float: left;
    left: 0;
}

.numb1{
	background: url('../images/num1.png') no-repeat center;
	background-size: 100px;

}
/********************************************/
/* THANKYOU
/********************************************/

.thankheight{
	margin-top: 250px;
	margin-bottom: 300px;
}

	@font-face {
                font-family: 'braxton'; /*a name to be used later*/
                src: url('../font/braxton.otf'); /*URL to font*/
            }

.thankyou{

	color: #f75f8e;
    font-family: 'braxton';
    font-style: italic;
    font-size: 80px;

}

/********************************************/

/********************************************/


.even{
	background: #acacac;
    padding-top: 100px;
}


	
/*	-webkit-box-shadow: -6px -24px 14px -26px rgba(0,0,0,0.69);
	-moz-box-shadow: -6px -24px 14px -26px rgba(0,0,0,0.69);
	box-shadow:-6px -24px 14px -26px rgba(0,0,0,0.69);*/


.diagonaldivN{
	height: 120px;
    transform: skew(0deg, +4deg);
    background: #f7f7f7;
    margin-bottom: -53px;
    margin-top: -120px;
    z-index: 2;
    position: relative;
}

.amo-white{
	background: #fff;
}

.viewmore{
	/* <a> */
    border: 2px solid #f36a22;
    font-family: 'avenir';
    letter-spacing: 2px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
    display: block;
    width: 100%;
    margin: 30px 0 0;
    text-transform: lowercase;
    text-align: center;
    padding: 15px;
    font-size: 20px;
}

/********************************************/
.highz{
	z-index: 2;
}

.midz{
	z-index: 1;
}
.lowz{
	z-index: 0;
}



.fullheight{
	height: 100%;
}

.fullwidth{
	width: 100%;
}

.nooverflow{
	overflow: hidden;
}
.centergrid{
	margin-left:auto;
   margin-right:auto;
   display:block;
}
.centerparent{
	text-align: center;
}

.black{
	color:#000;
}
.white{
	color: #fff;
}
.purple{
	background-color: #453c8b;
}
#num1{
    position: absolute;
    height: 114px;
    top: -14px;
    left: 36.5%;
    z-index: 0;
}

#num2{
    position: absolute;
    height: 114px;
    z-index: 0;
    left: -20%;
    top: -33px;
}
#num3{
    position: absolute;
    height: 114px;
    z-index: 4 ;
    left: 36.5%;
    top: -15px;
}
#num4{
    position: absolute;
    height: 114px;
    z-index: 0;
    left: 86%;
    top: -30px;
}
.vhzindex{
    position: relative;
    z-index: 10;
}
/********************************************/
